@*@model DGSappSem2.Models.FileUpload.FileUploadVm

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FileUploadVm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileUrl)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FileId }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
