@model IEnumerable<DGSappSem2.Models.FileUpload.BlobViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Upload New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.URI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td><a href="@item.URI" target="_blank">@item.Name</a><br /></td>
        </tr>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id = item.URI }) |
            @Html.ActionLink("Details", "Details", new { id = item.URI }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.URI })*@
        </td>
    }

</table>
